<mat-sidenav-container [dir]="settings.rtl ? 'rtl' : 'ltr'">
    <mat-sidenav-content #mainSidenavContent id="main" (scroll)="onPageScroll($event)">

        <header class="app-header">
            <div class="header-inner">
                <!-- Left: Logo + Brand -->
                <div class="header-left">
                    <a class="brand-link" routerLink="/" aria-label="RPM Home">
                        <img src="img/logo/rpm-logo.png" alt="RPM" class="brand-rpm-logo" />
                    </a>
                </div>

                <!-- Center: Navigation items -->
                <nav class="nav-bar-items" id="horizontal-menu">
                    <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
                </nav>

                <!-- Right: User Profile -->
                <div class="header-right">
                    <app-user-menu></app-user-menu>
                </div>
            </div>
        </header>

        <div id="main-content" class="sidenav-content-inner transition-2" [class.full-bleed]="isFullBleed()">
            <router-outlet></router-outlet>
        </div>

        <div #backToTop fxLayout="row" fxLayoutAlign="center center" class="back-to-top" (click)="scrollToTop()">
            <mat-icon>arrow_upward</mat-icon>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
