<div class="sidenav-content">

    <div class="sidenav-header">
        <a class="brand-link" routerLink="/" aria-label="RIMS Home">
            <img src="rims-logo-favicon.jpeg" alt="RIMS Icon" class="brand-logo-icon" />
            <img src="img/logo/rims-logo-text.png" alt="RIMS" class="brand-logo-text" />
        </a>
    </div>

    <div class="sidenav-label">WORKSPACE</div>

    <ng-scrollbar orientation="vertical" class="sidenav-menu-outer">
        <div id="vertical-menu">
            <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0"></app-vertical-menu>
        </div>
    </ng-scrollbar>

</div>