<div class="sidenav-content" [class.mini]="settingsService.isNavCollapsed()">

    <div class="sidenav-menu-toggle-wrapper">
        <div class="menu-item">
            <button mat-button (click)="onToggleNav()"
                fxLayout="row" [fxLayoutAlign]="settingsService.isNavCollapsed() ? 'center center' : 'start center'"
                [matTooltip]="settingsService.isNavCollapsed() ? 'Expand Menu' : 'Collapse Menu'" matTooltipPosition="after"
                [matTooltipDisabled]="!settingsService.isNavCollapsed()"
                id="menu-item-toggle">
                <mat-icon class="menu-icon">menu</mat-icon>
                @if (!settingsService.isNavCollapsed()) {
                    <span class="menu-title"></span>
                }
            </button>
        </div>
    </div>

    @if (!settingsService.isNavCollapsed()) {
        <!-- <div class="sidenav-label">WORKSPACE</div> -->
    }

    <ng-scrollbar orientation="vertical" class="sidenav-menu-outer">
        <div id="vertical-menu">
            <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0"></app-vertical-menu>
        </div>
    </ng-scrollbar>

</div>