<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
                <p>
                    {{ authService.currentUser()?.name || 'Guest User' }} <br>
                    <small>{{ authService.currentUser()?.email || 'Web developer' }}</small>
                </p>

            </div>
        </mat-toolbar>



  <a mat-menu-item routerLink="/profile/passkey">
    <mat-icon>fingerprint</mat-icon>
    <span>Setup Passkey</span>
</a>
        <div class="divider"></div>

        <!-- Changed to a native button with a click handler pointing to our logic -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span>
        </button>
</mat-menu>
