@for (menu of parentMenu; track menu.id) {
    <div class="menu-item">

        @if (menu.routerLink && !menu.hasSubMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="settingsService.isNavCollapsed() ? 'center center' : 'start center'"
                [routerLink]="[menu.routerLink]"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: menu.routerLink === '/' || menu.routerLink === '' }"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="!settingsService.isNavCollapsed()"
                (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                @if (!settingsService.isNavCollapsed()) {
                    <span class="menu-title">{{menu.title}}</span>
                }
            </a>
        }

        @if (menu.href && !menu.subMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="settingsService.isNavCollapsed() ? 'center center' : 'start center'"
                [attr.href]="menu.href || ''" [attr.target]="menu.target || ''"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="!settingsService.isNavCollapsed()"
                (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                @if (!settingsService.isNavCollapsed()) {
                    <span class="menu-title">{{menu.title}}</span>
                }
            </a>
        }

        @if (menu.hasSubMenu) {
            <a mat-button fxLayout="row" [fxLayoutAlign]="settingsService.isNavCollapsed() ? 'center center' : 'start center'"
                [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="!settingsService.isNavCollapsed()"
                (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                @if (!settingsService.isNavCollapsed()) {
                    <span class="menu-title">{{menu.title}}</span>
                }
                @if (!settingsService.isNavCollapsed()) {
                    <mat-icon class="menu-expand-icon transition-2" iconPositionEnd>arrow_drop_down</mat-icon>
                }
            </a>
            @if (!settingsService.isNavCollapsed()) {
                <div class="sub-menu" [id]="'sub-menu-'+menu.id">
                    <app-vertical-menu [menuItems]="menuItems" [menuParentId]="menu.id"></app-vertical-menu>
                </div>
            }
        }
    </div>
}
